.image{
    border-radius: 1rem;
}
/* .cart{
    display: flex;
    flex-direction: column;
    height: 10%;
} */
.container{
    columns: 2 auto;
    margin: 2rem;
}

@media screen and (max-width: 480px) {
    .container{
        columns: 1 auto;
    }
}